html {
    scroll-behavior: smooth;
    transition: color 0.2s ease;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.GC-bar {
    background-color: #e0e0e0;
    padding: 6px 40px;
    font-size: 14px;
    font-weight: bold;
}

.top-nav {
    background-color: #091c5d;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.top-nav a {
    margin: 0 18px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: 500;
}

.top-nav a:hover {
    color: blue;
}

.agency-header {
    background-color: #ffffff;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #091c5d;;
}

.agency-left {
    display: flex;
    align-items: center;
    gap: 18px;
}

.agency-left img {
    height: 115px;
}

.agency-left-text {
    line-height: 1.4;
}

.agency-left-text h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

.agency-left-text p {
    margin: 3px 0;
    font-size: 16px;
}

.agency-right img {
    height: 115px;
    margin: 0 5px;
}

.section {
    background-color: white;
    width: 85%;
    margin: 40px auto;
    padding: 35px 40px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    border-radius: 4px;
    text-align: justify;
}

.section-right img {
    height: 105px;
    max-width: 500px;
}

h2 {
    margin-bottom: 15px;
    color: #1c1c1c;
    border-bottom: 2px solid #091c5d;
    padding-bottom: 6px;
    display: inline-block;
}

h3 {
    max-width: 600px;
    border-bottom: 2px solid #091c5d;
    margin-bottom: 15px;
    display: inline-block;
}

h4 {
    max-width: 600px;
    margin-bottom: 15px;
}

p {
    line-height: 1.7;
    font-size: 16px;
    max-width: 600px;
}

ul {
    padding-left: 20px;
    max-width: 600px;
}

li {
    font-size: 16px;
    margin: 12px 0;
    max-width: 1000px;
    text-align: justify;
}

.site-footer {
    background-color: #091c5d;
    color: #ccc;
    padding: 60px 80px 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 60px;
  }
  
.footer-title {
    color: #fff;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
.footer-address {
    font-size: 13px;
    color: #aaa;
  }
  
.footer-column h4 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.footer-column ul li {
    margin-bottom: 10px;
  }
  
.footer-column ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s ease;
  }
  
.footer-column ul li a:hover {
    color: #fff;
  }
  
.footer-bottom {
    text-align: center;
    margin-top: 50px;
    font-size: 13px;
    color: #aaa;
  }

.aboutpic {
  display: flex;
  justify-content: flex-end;
  margin-top: -190px;
}

.aboutpic img {
  width: 350px;
  height: 180px;
  border-radius: 10px;
}

.Ulongapo {
  display: flex;
  justify-content: flex-end;
  margin-top: -330px;
}

.Ulongapo img{
  width: 350px;
  height: 300px;
  border-radius: 10px;
}

.bigpicture {
  display: flex;
  justify-content: flex-end;
  margin-top: -480px;
}

.bigpicture img{
  width: 350px;
  height: 450px;
  border-radius: 10px;
}

.view {
  margin-top: 10px;
}

.view img{
  width: 350px;
  height: 180px;
  border-radius: 10px;
}

.bigpicture2 {
  display: flex;
  justify-content: flex-end;
  margin-top: -650px;
}

.bigpicture2 img{
  width: 350px;
  height: 630px;
  border-radius: 10px;
}

.aboutpic2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.aboutpic2 img {
  width: 350px;
  height: 180px;
  border-radius: 10px;
}

.aboutpic3 {
  display: flex;
  justify-content: flex-end;
  margin-top: -270px;
}

.aboutpic3 img {
  width: 350px;
  height: 270px;
  border-radius: 10px;
}

@media (max-width: 900px) {
    .footer-container {
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }
  }
  
@media (max-width: 600px) {
    .footer-container {
      grid-template-columns: 1fr;
    }
  
.site-footer {
      padding: 40px 30px 20px;
    }
  }
  
